<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners><listener class-name="Listener.TestListener"/></listeners>
  <test thread-count="5" name="Test">
    <classes>
     <class name="Geo_Portal.Geoportal">
   <methods>
   <include name = "NATMO_Geoportal_75()"/>
   </methods>
      </class>
 <!--   <class name="Home_Page.HomePage"></class>
 


   
<class name="Login.login"></class> 
 <class name="Registration.Registration_Page"></class>
 <class name="Forgot_Password.Forgot_password"> </class> 
 <class name="Forgot_Username.Forgot_username"> </class>
 --> 
    </classes>
  </test> <!--   Test -->
</suite> <!-- Suite -->
